.sideInfo {
  width: 25%;
  padding-left: 40px;
  text-align: end;

  &__main {
    &__title {
      margin-bottom: 12px;
    }

    &__desc {
      margin-bottom: 36px;
    }
  }

  &__link {
    position: relative;

    color: $color-white;
    font-weight: 700;
    font-size: 12px;

    &::after {
      content: "";

      position: absolute;
      display: block;

      right: 140%;
      bottom: 0;

      width: 64px;
      height: 1px;

      background: $color-white;
    }
  }

  @include onMobile {
    padding-left: 0;

    &__main {

      &__title {
        font-size: 12px;
      }

      &__desc {
      display: none;
      }
    }

    &__link {
      &::after {
        display: none;
      }
    }
  }

  @include onTablet {
    width: 22%;

    padding-left: 86px;

    &__main {
      &__title {
        margin-bottom: 18px;
      }

      &__desc {
        margin-bottom: 64px;
      }
    }

    &__link {
      position: relative;

      color: $color-white;
      font-weight: 700;
      font-size: 12px;

      &::after {
        content: "";

        position: absolute;
        display: block;

        right: 140%;
        bottom: 0;

        width: 64px;
        height: 1px;

        background: $color-white;
      }
    }
  }
}
