.icon {
  display: block;
  position: absolute;
  top: 24px;
  right: 8%;
  @include square(18px);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &--menu {
    height: calc(#{18px} / 6 * 4);

    background-image: url(../../../images/icon/menu.svg);

    &:hover {
      background-image: url(../../../images/icon/menu_hover.svg);
    }
  }
  
  &--cross {
    background-image: url(../../../images/icon/cross.svg);
    height: 16px;
  }

  @media (min-width: 542px) {
    display: none;
  }
}
