.icon {
  display: block;
  @include square(18px);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &--call {
    position: relative;
    margin-right: 30px;

    background-image: url(../../../images/icon/phone.svg);

    @include onTablet {
      margin-right: 40px;
      @include square(24px);
    }

  }

  &__tooltip {
    display: block;
    width: max-content;
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);

    padding-right: 12px;

    font-family: Roboto-Medium;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: $color-white;

    opacity: 0;
    pointer-events: none;
  }

  @include onTablet {
    &:hover &__tooltip {
      opacity: 1;
      pointer-events: all;
    }
  }

  &--menu {
    height: calc(#{18px} / 6 * 4);

    background-image: url(../../../images/icon/menu.svg);

    &:hover {
      background-image: url(../../../images/icon/menu_hover.svg);
    }

    @include onTablet {
      width: 24px;
      height: calc(#{24px} / 6 * 4);
    }
  }

  &--cross {
    height: 16px;
    background-image: url(../../../images/icon/cross.svg);
  }
}
