.pick {
  position: relative;
  display: flex;
  margin-bottom: 36px;
  
  &__wrapper {
    margin-left: 10%;
    flex-direction: column;
    
    &__img {
      margin-bottom: 36px;
      position: relative;
      margin-right: 5%;
      max-width: 40vw;
      max-height: 50vh;
    }
  }

  @include onTablet {
    width: 100vw;
    margin-bottom: 128px;

    &__wrapper {
      margin-left: 10%;
      
      &__img {
        margin-bottom: 36px;
        position: relative;
        margin-right: 5%;
        max-width: 30vw;
      }
    }

  }

  @include onDesktop {
    
    &__wrapper {
      margin-left: 10%;
      
      &__img {
        margin-bottom: 36px;
        position: relative;
        margin-right: 5%;
        max-width: 40vw;
      }
    }
  }
}
