.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 42px;

  &__item {
    @for $start from 1 through 6 {
      @for $end from $start through 6 {
        @include onTablet {
          &-#{$start}-#{$end} {
            grid-column: #{$start} / #{$end};
          }
        }
      }
    }
  }
}
