.page {
  align-items: center;
  font-family: "Libre Franklin", sans-serif;
  color: $color-white;
  overflow-x: hidden;
  
  background-color: $bc-color;
  scroll-behavior: smooth;
  
  width: 100vw;
  
  &__body {
    &--with-menu {
      overflow: hidden;
    }
  }
}
